<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title> :: Error :: </title>

    <!-- Bootstrap -->
    <link href="<%= BASE_URL %>/public/css/bootstrap.min.css" rel="stylesheet">
            
    <!-- Custom Theme Style -->
    <link href="<%= BASE_URL %>/public/css/custom.min.css" rel="stylesheet">

  </head>

  <body class="login">
    <div>
      
      <div class="login_wrapper">
        <div class="alert alert-error">
            <strong>Error!</strong> <%- message %>
        </div>
      </div>
    </div>
  </body>
</html>
