<table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff"  style="padding:0px;line-height:1px;font-size:1px">
	<tbody>
		<tr>
			<td width="100%" align="center" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">

				<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#F5F8FA" width="100%" dir="ltr" style="padding:0px;line-height:1px;font-size:1px">
					<tbody>
						<tr>
							<td style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
								<table cellpadding="0" cellspacing="0" border="0" align="center" bgcolor="#ffffff" width="450" style="padding:0px;line-height:1px;font-size:1px">
									<tbody>
										<tr>
											<td width="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px"> &nbsp; </td>
											<td style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
												<table cellpadding="0" cellspacing="0" border="0" align="center" dir="ltr" style="padding:0px;line-height:1px;font-size:1px">
													<tbody>
														<tr>
															<td height="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px"> &nbsp; </td>
														</tr>
														<tr>
															<td align="right" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px;font-size:0px;line-height:100%;padding:0px">															</td>
														</tr>
														<tr>
															<td height="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px"> &nbsp; </td>
														</tr>
														<tr>
															<td align="left" dir="ltr" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;padding:0px;margin:0px;font-weight:bold;line-height:32px"> Reset Password! </td>
														</tr>
														<tr>
															<td height="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px"> &nbsp; </td>
														</tr>
														<tr>
															<td align="left" dir="ltr" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;padding:0px;margin:0px;font-weight:normal;line-height:20px;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:16px;padding:0px;margin:0px;font-weight:normal;line-height:22px"> You have requested a password reset for <%= SITE_NAME %>. To reset your password visit the following page. </td>
														</tr>
														<tr>
															<td height="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px"> &nbsp; </td>
														</tr>
														<tr>
															<td align="left" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
																<table border="0" cellspacing="0" cellpadding="0" align="left" style="padding:0px;line-height:1px;font-size:1px">
																	<tbody>
																		<tr>
																			<td align="center" bgcolor="#1DA1F2" dir="ltr" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;text-align:center;margin:auto;border-radius:4px;line-height:18px"> 
																				<a href="<%= ACTIVELINK %>" style="text-decoration:none;border-style:none;border:0px;padding:0px;margin:0px;background-color: #00B0A9;color:#1da1f2;text-decoration:none;font-size:16px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;color:#ffffff;text-decoration:none;border-radius:4px;padding:11px 30px;border:1px solid #00B0A9;display:inline-block;font-weight:bold" target="_blank" >
																			 	Reset Password
																			 	</a> 
																			 </td>
																		</tr>
																	</tbody>
																</table> 
															</td>
														</tr>
													</tbody>
												</table> 
											</td>
											<td width="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px"> &nbsp; </td>
										</tr>
									</tbody>
								</table>
								<table cellpadding="0" cellspacing="0" border="0" align="center" width="450" bgcolor="#ffffff" style="padding:0px;line-height:1px;font-size:1px">
									<tbody>
										<tr>
											<td width="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px"> &nbsp; </td>
											<td style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px">
												<table align="center" dir="ltr" style="padding:0px;line-height:1px;font-size:1px">
												<tbody>
													<tr>
														<td height="60" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px"> &nbsp; </td>
													</tr>
													<tr>
														<td height="12" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px"> &nbsp; </td>
													</tr>
													<tr>
														<td align="center" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;color:#8899a6;font-family:'Helvetica Neue Light',Helvetica,Arial,sans-serif;font-size:12px;padding:0px;margin:0px;font-weight:normal;line-height:16px;text-align:center;margin:auto"> <span > Copyright &copy; <%= CURRENT_YEAR %> <%= SITE_NAME %>, All rights reserved
														</span> 
														</td>
													</tr>
													<tr>
														<td height="60" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px"> &nbsp; </td>
													</tr>
												</tbody>
												</table> 
											</td>
											<td width="24" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px"> &nbsp; </td>
										</tr>
									</tbody>
								</table> 
							</td>
						</tr>
						<tr>
							<td height="32" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;font-size:0px;line-height:1px;padding:0px"> &nbsp; </td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" style="padding:0px;margin:0px auto;line-height:1px;font-size:1px;color:#ffffff;font-family:Arial,sans-serif;font-size:14px"> ———————————————————————————— </td>
		</tr>
	</tbody>
</table>